
<div class="container">
    <br/>

<!-- <div class="container"> -->
  <div class="row">
		<% @lists.each do |listing| %>
		<% if listing.verified? %>
    <div class="col-sm">
			<div class="card" style="width: 18rem;">
			<% if listing.avatars? %>
				<%= image_tag(listing.avatars[0].thumb.url) %>
				<% else %>
				<%= image_tag('https://s3-ap-southeast-1.amazonaws.com/pairbnb-bo/photos.png', height:'250px', width:'auto' ) %>
				<% end %>
			  <div class="card-body">
			  	<h6><%= listing.property_type %> | <%= listing.city %></h6>
			    <h5 class="card-title"><%= listing.name %></h5>
			    <p class="card-text">$<%= listing.price %> per night</p>
			    <%= link_to "Details", "/listings/#{listing.id}", class: "btn btn-primary" %>
			    <%= link_to "Book", new_listing_reservation_path(listing), class: "btn btn-danger" %>
			  </div>
			</div>
			<br/>
    </div>
    <% end %>
 		<% end %>
  </div>
		<%= paginate @lists, themes: 'bootstrap' %> 
<!-- </div> -->
</div>