<p id="notice"><%= notice %></p>

<h1>Reservations</h1>
<% if !@reservations.nil? %>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">User</th>
        <th scope="col">Listing</th>
        <th scope="col">Start date</th>
        <th scope="col">End date</th>
        <th scope="col">Guest number</th>
        <th scope="col">Verified</th>
        <th scope="col" colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.user %></td>
          <td><%= reservation.listing %></td>
          <td><%= reservation.start_date %></td>
          <td><%= reservation.end_date %></td>
          <td><%= reservation.guest_number %></td>
          <td><%= reservation.accepted %></td>
          <td><%= link_to 'Show', reservation %></td>
          <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
          <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p> No history found. </p>
<% end %>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
