<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Airbnb</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '/layouts/navbar' %>
  <% if params[:action] == "home" %>
    <header id="header">
    <div class="container-img">
      <!-- <img src="DSCF5583.JPG" id="header-img"> -->
    <div class="container">
    <div class="jumbotron j2">
    <% if signed_in? %>
    <h1 class="display-4">Hello, <%=current_user.first_name%>!</h1>
    <hr class="my-4">
    <% end %>

      <%= render partial: '/home/form' %>
</div>
  </div>
      </div>
    </header>
    <% end %>
    <br/>
    <div class="container">
      <% flash.each do |k,v| %>
        <div class="alert alert-<%= k %>"><%= v %></div>
      <% end %>
    </div>

    <%= yield %>
    
  </body>
</html>
